{% extends 'pharmastore/base.html' %}

{% block content %}

<section class="section-conten padding-y bg">

{% include 'accounts/alert.html' %}
<div class="container">
	<div class="row">
	{% include 'accounts/dashboard_sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Your order history</strong><br>
            <strong class="d-inline-block mr-3">Order Count: {{orders_count}}</strong>

		</header>
		<div class="card-body">
			<div class="row">
			<div class="col-md-12">
				<table class="table table-hover">
				  <thead>
				    <tr>
				      <th scope="col">Order #</th>
				      <th scope="col">Billing Name</th>
				      <th scope="col">Phone</th>
				      <th scope="col">Order Total</th>
							<th scope="col">Date</th>
				    </tr>
				  </thead>
				  <tbody>
						{% for order in orders %}
				    <tr>
				        <td><a href="{% url 'accounts:orderdetails' order.order_number %}">{{order.order_number}}</a></td>
				        <td>{{order.get_full_name}}</td>
                        <td>{{order.phoneno}}</td>
				        <td>${{order.get_order_total}}</td>
					    <td>{{order.created_at.date}}</td>
				    </tr>
				{% endfor %}

				  </tbody>
				</table>
			</div>

			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>

{% endblock %}
