{% extends 'pharmastore/base.html' %}

{% block content %} 
<div class="container" style="margin-top: 50px;">
    <center><i class="fas fa-check-circle" style="font-size: 72px;margin-bottom: 20px;color: #28A745;"></i></center>
    <h2 class="text-center">Payment Successful</h2>
	<br>
	<div class="text-center">
		<a href="{% url 'pharmastore:storepage' %}" class="btn btn-success">Shop more</a>
	</div>
</div>

<div class="container" style="margin: 0 auto;width: 50%;padding: 50px;background: #f1f1f1;margin-top: 50px;margin-bottom: 50px;">
    <div class="row invoice row-printable">
        <div class="col-md-12">
            <!-- col-lg-12 start here -->
            <div class="panel panel-default plain" id="dash_0">
                <!-- Start .panel -->
                <div class="panel-body p30">
                    <div id="invoice" class="row">
                        <!-- Start .row -->
                        <div class="col-lg-6">
                            <!-- col-lg-6 start here -->
                            {% load static %}<div class="invoice-logo"><img src="{% static 'orders/pharmafriend_logo.png' %}" alt="Invoice logo" style="max-height: 40px;"></div>
                        </div>
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-6">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-from">
                                <ul class="list-unstyled text-right">
                                    <li><strong style="color: black;">Invoiced To</strong></li>
                                    <li>{{order.get_full_name}}</li>
                                    <li>{{order.get_full_address}}</li>
                                    <li>{{order.city}}, {{order.pin}} ,{{order.state}}</li>
                                    <li>India</li>
                                </ul>
                            </div>
                        </div>
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-12">
                            <!-- col-lg-12 start here -->
                            <div class="invoice-details mt25">
                                <div class="well">
                                    <ul class="list-unstyled mb0">
                                        <li><strong style="color: black;">Order No: </strong>{{order_number}}</li>
                                        <li><strong style="color: black;"> Transaction ID: </strong> {{transID}}</li>
                                        <li><strong style="color: black;">Order Date: </strong> {{order.created_at}}</li>
                                        <li><strong style="color: black;">Status: </strong> {{payment.status}}</li>
                                    </ul>
                                </div>
                            </div>
                           
                            <div class="invoice-items">
                                <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                                    <table id="invoice-table" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="per40 text-center">Products</th>
                                                <th class="per5 text-center">Qty</th>
                                                <th class="per25 text-center">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in ordered_products %}   
                                                <tr>
                                                    <td>{{item.product.product_name}} <br>
                                                        <p class="text-muted small">
                                                            {% if item.variations.all %}
                                                                {% for var in item.variations.all %}
                                                                    {{ var.variation_category | capfirst }} : {{ var.variation_value | capfirst }} <br>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </p>
                                                    </td>

                                                    <td class="text-center">{{item.quantity}}</td>
                                                    <td class="text-center">₹ {{item.product.price}} | $ {{item.product.get_usd_price}}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="2" class="text-right">Sub Total:</th>
                                                <th class="text-center">₹ {{subtotal}} | $ {{subtotal_usd}}</th>
                                            </tr>
                                            <tr>
                                                <th colspan="2" class="text-right">Shipping:</th>
                                                <th class="text-center">₹ {{shipping}} | $ {{shipping_usd}}</th>
                                            </tr>
                                            <tr>
                                                <th colspan="2" class="text-right">Tax:</th>
                                                <th class="text-center">₹ {{order.tax}} | $ {{order.get_tax_usd}}</th>
                                            </tr>

                                            <tr>
                                                <th colspan="2" class="text-right">Grand Total:</th>
                                                <th class="text-center">₹ {{order.get_order_total}} | $ {{order.get_order_total_usd}}</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div style="display: flex;justify-content: end;">
                                <button class="btn btn-dark" id="generate-pdf-button"><i class="fas fa-file-pdf"></i></button>
                            </div>
                            <div class="invoice-footer mt25">
                                <p class="text-center">Thank you for shopping with us!</p>
                            </div>
                        </div>
                        <!-- col-lg-12 end here -->
                    </div>
                    <!-- End .row -->
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
    </div>
</div>
<script>
    window.onload = function(){
        document.getElementById('generate-pdf-button').addEventListener('click', ()=>{
            const table = this.document.getElementById('invoice-table');
        html2pdf().from(table).save()
        })
    }
</script>
{% endblock content %}