#video-streams {
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    width: 75%;
    margin: 0 auto;
}

.video-container {
    flex-basis:500px;
    flex-grow:1;
    max-height: 100%;
    min-height: 350px;
    border: 1px solid rgb(75, 95, 172, 1);
    border-radius: 5px;
    margin: 2px;
    background-color: rgba(198, 202, 219, 1);
}

.video-player {
    height: 100%;
    width: 100%;
}

/* Room icon Styling */
#controls-wrapper{
    margin-bottom: -50px;
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 1em;
    position: absolute;
}
.control-icon{
    height: 45px;
    width: 45px;
    box-shadow: var(--shadow);
    background-color: rgb(2, 149, 222);
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

#leave-btn{
    background-color: rgb(255, 80, 80, 1);
}