{% extends 'pharmastore/base.html' %}

{% block content %}

<section class="section-conten padding-y bg">

{% include 'accounts/alert.html' %}
<div class="container">
	<div class="row">
	{% include 'accounts/dashboard_sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Change Password</strong><br>
		</header>
		<div class="card-body">
			<div class="row">
			<div class="col-md-12">
				<form action="{% url 'accounts:changepassword' %}" method="POST"">
					{% csrf_token %}
					<div class="form-group">
						<label>Current Password:</label>
						<input class="form-control" placeholder="Enter current password" type="password" name="current_password" id="" required>
					</div>
					<div class="form-group">
						<label>New Password:</label>
						<input class="form-control" placeholder="Enter new password" type="password" name="new_password" id="" required>
					</div>
					<div class="form-group">
						<label>Confirm New Password:</label>
						<input class="form-control" placeholder="Confirm new password" type="password" name="conf_new_password" id="" required>
					</div>
					<input class="btn btn-primary" type="submit" value="Submit">
				</form>
			</div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>

{% endblock %}
