{% extends 'pharmastore/base.html' %}
{% load static %}


{% block content %}
<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
    {% include 'accounts/alert.html' %}  
    <div class="card-body">
      <h4 class="card-title mb-4" style="color: black;">Reset Password</h4>
      <form action="{% url 'accounts:resetpassword' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
		    <input type="password" class="form-control" placeholder="Enter New Password" name="new_password">
        </div> <!-- form-group// -->

        <div class="form-group">
          <input type="password" class="form-control" placeholder="Confirm New Password" name="conf_password">
          </div> <!-- form-group// -->

        
        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary btn-block"> Submit  </button>
        </div> <!-- form-group// -->    
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->
{% endblock content %}