{% extends 'application/base.html' %}

{% load static %}


{% block content %}
  <div class="site-wrap">
    <div class="page">
      <div id="preloader" class="blobs-wrapper">
        <div class="grp-bgcolor-skincolor loader-blob"></div>
      </div>

      <div class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-5 mb-0">
              <a href="{% url 'pharmafriend:homepage' %}" style="text-decoration: none;">Home</a><span class="mx-2 mb-0">/</span>
              <a style="text-decoration: none;">Search</a>
            </div>
          </div>
        </div>
      </div>

      <div class="site-section bg-light custom-border-bottom" data-aos="fade">
        <div class="container" style="margin-top: -3rem;">
          <div class="row mb-5">
            <div class="col-md-5" style="display: flex;justify-content: center;align-items: center;">
              <form class="contact-form" action="" method="POST" id="formOne" style="display: flex;justify-content: center;align-items: center; flex-direction: column;">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="formOne">
                <label for="contact-name" style="font-size: 2rem;color: black;">Search for Medicine: <span style="color: yellow">*</span></label>
                <input class="form-control" name="contact-name" type="text" id="contact-name" placeholder="Enter Medicine:">
            
                <button style="margin-top: 1rem;" class="btn btn-primary" type="submit">Search</button><br>
              </form>
            </div>
            <div class="col-lg-7 mb-5 mb-lg-0" style="justify-content: center;">
              {% load static %}<a href="#" class="banner-1 h-100 d-flex" style="background-image: url({% static 'application/images/medicine-info.png' %});background-size: 100% 100%;border-radius:15px;">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% load static %}<script src="{% static 'application\JS\jquery-3.3.1.min.js' %}"></script>
  {% load static %}<script src="{% static 'application\JS\jquery-ui.js' %}"></script>
  {% load static %}<script src="{% static 'application\JS\popper.min.js' %}"></script>
  {% load static %}<script src="{% static 'application\JS\bootstrap.min.js' %}"></script>
  {% load static %}<script src="{% static 'application\JS\owl.carousel.min.js' %}"></script>
  {% load static %}<script src="{% static 'application\JS\jquery.magnific-popup.min.js' %}"></script>
  {% load static %}<script src="{% static 'application\JS\aos.js' %}"></script>
  {% load static %}<script src="{% static 'application\JS\main.js' %}"></script>
  {% load static %}<script src="{% static 'application\JS\script.js' %}"></script>

</body>
</html>

{% endblock content %}